[submodule "pressio"]
	path = pressio
	url = https://github.com/Pressio/pressio-rom.git
[submodule "pressio-ops"]
	path = pressio-ops
	url = https://github.com/Pressio/pressio-ops.git
[submodule "pressio-log"]
	path = pressio-log
	url = https://github.com/Pressio/pressio-log.git
