include README.md DESCRIPTION.rst
include LICENSE pybind11/LICENSE pressio/LICENSE
graft pybind11/include
graft pressio/packages
graft src
graft demos
graft tutorials
global-include CMakeLists.txt *.cmake
